@tailwind base;
@tailwind components;
@tailwind utilities;

/* ** ** colors ** ** */

/* main: #0ca678 */

/* shade: #076448 */

/* tint: #3db893 */

/* ** ** BG ** ** */
/* main: #F3F0EB */
/* sec: #f9fafa */


/* ** ** TEXT ** ** */

/* main: #868e96  */
/* secondary: #495057 */

* {
  margin: 0;
  padding: 0;
  background-color: #F3F0EB;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

